:global(.container) {
    cursor: pointer;
}

:global(.container) input {
    display: none;
}

:global(.container) svg {
    overflow: visible;
}

:global(.path) {
    fill: none;
    stroke: white;
    @apply stroke-zinc-600;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
}

:global(.container) input:checked ~ svg :global(.path) {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}

:global(.container) input:checked ~ svg {
    margin-left: -.2rem;
    margin-right: .2rem;
}