select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    @apply relative ;

    & > option {
        @apply py-12 px-4 bg-slate-50 border border-cyan-700 shadow-sm;
        padding: 12px;
    }
}