:global(.toggle-switch) {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
    cursor: pointer;
}

:global(.toggle-switch) input[type="checkbox"] {
    display: none;
}

:global(.toggle-switch-background) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #ddd;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px #ccc;
    transition: background-color 0.3s ease-in-out;
}

:global(.toggle-switch-handle) {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

:global(.toggle-switch)::before {
    content: "";
    position: absolute;
    top: -25px;
    right: -35px;
    font-size: 12px;
    font-weight: bold;
    color: #aaa;
    text-shadow: 1px 1px #fff;
    transition: color 0.3s ease-in-out;
}

:global(.toggle-switch) input[type="checkbox"]:checked + :global(.toggle-switch-handle) {
    transform: translateY(-50%) translateX(45px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
    @apply shadow-cyan-700;
}

:global(.toggle-switch) input[type="checkbox"]:checked + :global(.toggle-switch-background) {
    background-color: #05c46b;
    box-shadow: inset 0 0 0 2px #04b360;
    @apply bg-cyan-700 shadow-inner shadow-cyan-700;
}

:global(.toggle-switch) input[type="checkbox"]:checked + :global(.toggle-switch):before {
    content: "On";
    color: #05c46b;
    @apply text-cyan-700;
    right: -15px;
}

:global(.toggle-switch) input[type="checkbox"]:checked + :global(.toggle-switch-background) :global(.toggle-switch-handle) {
    transform: translateY(-50%) translateX(21px);
}
